<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-3.3.0.min.js"
    integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  {% include head-custom.html %}
</head>

<body>

  <header>
    <h1>{{ page.title | default: site.title }}</h1>
    <p>{{ page.description | default: site.description }}</p>
  </header>

  {% include banner.html %}

  <div class="wrapper">
    <section>
      <article>
        <header class="post-header">
          <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
            {% if page.author %} • {{ page.author }}{% endif %}
          </p>
        </header>

        <div class="post-content">
          {{ content }}
          <hr></hr>
        </div>

        <footer class="post-footer">
          {% if page.tags %}
          <p class="post-tags"><b>Tags:</b> {% for tag in page.tags %}<span class="tag">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
          {% endif %}
        </footer>
      </article>

      <nav class="post-navigation">
        <a href="/blog" class="button">← blog</a>
      </nav>
    </section>

    <footer>
      {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p><a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a></p>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
    </footer>
  </div>
</body>

</html>
